{%extends 'base/base.html'%}

{%block contenido%}
<div class="galeria">
  <h1>Galeria</h1>
  <div class="linea"></div>
  <div class="contenedor-imagenes">
    <div class="imagen">
      <img src="/images/Galeria/Torta Flores.jpeg" alt="">
      <div class="overlay">
        <h2>Torta con decorativos de Flores




        </h2>
      </div>
    </div>
    <div class="imagen">
      <img src="images/Galeria/Torta para Dancers.jpeg" alt="">
      <div class="overlay">
        <h2>

          Torta con estilo de cantante



        </h2>
      </div>
    </div>
    <div class="imagen">
      <img src="/images/Galeria/Pastel de Conejo.jpeg" alt="">
      <div class="overlay">
        <h2>

          Torta Bunny



        </h2>
      </div>
    </div>
    <div class="imagen">
      <img src="/images/Galeria/Torta Hincha Colo Colo.jpeg" alt="">
      <div class="overlay">
        <h2>
          Torta Colo colino


        </h2>
      </div>
    </div>
    <div class="imagen">
      <img src="/images/Galeria/mufffin.jpg" alt="">
      <div class="overlay">
        <h2>
          Muffin de Chococalate con 25% de cacao


        </h2>
      </div>
    </div>
    <div class="imagen">
      <img src="/images/Galeria/Tortal a lo estilo lilo y Stich.jpeg" alt="">
      <div class="overlay">
        <h2>
          Cupckaes Lilo Stich



        </h2>
      </div>
    </div>
    <div class="imagen">
      <img src="/images/Galeria/Torta Florida.jpeg" alt="">
      <div class="overlay">
        <h2>

          Torta Con Flor



        </h2>
      </div>
    </div>
    <div class="imagen">
      <img src="images/Galeria/torta Chocolate Amargo.jpeg" alt="">
      <div class="overlay">
        <h2>
          Torta 75% Chocolate Real


        </h2>
      </div>
    </div>
    <div class="imagen">
      <img src="/images/Galeria/Torta Barbie.jpeg" alt="">
      <div class="overlay">
        <h2>

          Torta Barbie Girl

        </h2>
      </div>

    </div>
  </div>


{%endblock%}

