{%extends 'base/base.html'%}


{%block contenido%}
<main>

  <section>
    <div class="container">
      <div class="row">

        <div class="col-6 col-sm-6">
          <a href="Productos.html"><img class="gab" class="imagen" src="/images/Galeria/pastel.png" alt="Pastel"></a>
          <h4 style="color: darkslateblue;">𝐏𝐚𝐬𝐭𝐞𝐥𝐞𝐬</h4>

        </div>
        <div class="col-6 col-sm-6">
          <a href="Galeria.html"><img class="gab" src="/images/Galeria/slide-home-3.png" alt="Box Party"></a>
          <h4 style="color:crimson;"> Box Party </h4>

        </div>
        <div class="col-6 col-sm-6">
          <a href="Productos.html"><img class="gab1" src="/images/Galeria/Cupcakes-derecha.png" alt="Cupcakes"></a>
          <h5 style="color:chocolate ;">Cupcakes </h5>
        </div>
      </div>
    </div><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>



    <form>

      <h2>Haga su cotizacion con nosotros</h2>
      <div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputEmail4">Email</label> <br>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputEmail4">Nombre Completo </br> </label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="Ingrese su Nombre"> </br>
            </div>
            <div class="form-group col-md-12">
              <label for="inputPassword4">Cotizacion</label>
              <input type="password" class="form-control" id="inputPassword4" placeholder="Cotizacion">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Direccion</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Urales 1221 departamento 32">
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputCity">Fecha Entrega </label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-12">
              <label for="inputState">Tipo de entrega</label>
              <input type="text" class="form-control" id="inputZip">
            </div>
            <div class="form-group col-md-12">
              <label for="inputZip">Celular </label>
              <input type="text" class="form-control" id="inputZip">
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">

              <label class="form-check-label noRobot" for="gridCheck">
                <span>No soy un robot</span>

                  


              </label>
                
                
            </div>


          </div>
      


          <button style="margin-left: 30px;" type="submit" class="btn btn-primary"> Enviar y
            <span class="glyphicon glyphicon-user iconBoton"></span>
            <div>
              Actualizar Datos
            </div>
          </button>

        </div>
      </div>
    </form>
    <div class="direccion">
      <h1>Visitanos en: </h1>
      <p>
        Jaquin Larrain y Salas #1819,
        <br>
        San Bernardo, Santiago de Chile.
      </p>
      <hr>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3322.7280094748644!2d-70.70434048541742!3d-33.612360980727885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d93a4ac1bccb%3A0x4af7eaf47ba73b86!2sJoaqu%C3%ADn%20Larra%C3%ADn%20y%20Salas%201819%2C%20San%20Bernardo%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1620699267858!5m2!1ses!2scl"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
      </iframe>
    </div>


    </section>

</main>



  {%endblock%}
