{%extends 'base/base.html'%}

{%block contenido%}

<center>
<h1>
  Nuestra Historia
</h1> <br>
<p>Dealba Pastelería Creativa, se formó gracias a una larga tradición familiar, liderada actualmente por su hija Valeria Correa Morales, <br>
gracias a su interés natural de desarrollar el arte y la excelencia de la repostería. Además de mantener en el tiempo la calidad de los <br>
ingredientes utilizados, se realiza un permanente esfuerzo por entregar alimentos sanos y saludables para nuestro organismo, en un estilo <br>
de preparación casero sin elementos químicos que distorsionen las tradicionales recetas elaboradas. También hemos incorporado nuevos <br>
ingredientes logrando nuevos atractivos y novedosos sabores para el paladar de las personas de mayor exigencia. Desde hace más de 15 años<br>
que entregamos una exquisita variedad de productos tanto como dulces, con nuevas categorías para todo tipo de cliente tanto en la línea light, <br>
diabéticos, decoraciones y coctelería. Dealda Pastelería Creativa hizo un cambio de imagen, y ahora somo tanto tradicionales como modernos. <br>
Este cambio busca mantener a nuestros clientes de siempre y obtener nuevos y dar a conocer nuevos sabores a la nueva generación.</p>
</center>


  
{%endblock%}


