{%extends 'base/base.html'%}


{%block contenido%}


      <form >
        <main class="container my-5"> 
            <section class="row">
                <div class="col-12">
                    <label>Nombre pastel</label>
                  <input
                  name = "pastel"
                   type="text" 
                  placeholder="Nombre del producto"
                  required
                  maxlength="50"
                  minlength="5"
                  class="form-control">
                </div>
                <div class="col-12">
                    <label for=""> Precio</label>
                    <input
                    name = "precio"
                    type="number"
                    class="form-control"
                    placeholder="Precio"
                    required
                    min="1"
                    />
                <div class="col-12">
                    <label>Pastel</label>
                    <input
                    
                    type="radio"
                    name="radio"
                    value="Pastel"
                    class="form-control"
                    />
                </div>
                <div class="col-12">
                    <label>Box Party</label>
                    <input
                    
                    type="radio"
                    name="radio"
                    value="Box Party"
                    class="form-control"
                    />
                </div>
                <div class="col-12">
                    <label>Cupcakes</label>
                    <input
                    
                    type="radio"
                    name="radio"
                    value="Cupcakes"
                    class="form-control"
                    />
                </div>
    
                <div class="col-12">
                    <label>imagen</label>
                    <input
                    name="imagen"
                    id= "text" type="text"
                    class="form-control"
                    />
                    <img id="cont"class="hola" src="https://thumbs.dreamstime.com/b/signo-de-interrogaci%C3%B3n-20881124.jpg" alt="hola">
                </div>
            </section>
            <section class="row">
                <div class="col-12">
                    <label>Escriba su comentario</label>
                    <textarea
                    name='comentario' 
                    class="form-control"></textarea>
                </div>
            </section>
            <br>
    
                <div class="col-12">
                    <input
                    name="boton"
                    type="submit"
                    class="btn btn-block btn-primary"
                    value="enviar"
                    />
                </div>
{%endblock%}
            
           
            
           
        
  